.card {
  max-width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.card2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px;
  min-width: 300px;
}

.icon-img {
  max-height: 80px;
}

.icon-img-1 {
  max-height: 60px;
}

.img-box {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-text1 {
  font-size: 15px;
}

.icon-text1-1 {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.icon-text2 {
  font-size: 40px;
  margin-top: auto;
}

.icon-text2-2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.icon-text2-span {
  font-size: 20px;
}

.icon-text2-2-span {
  font-size: 16px;
  margin: 0;
  padding: 0;
}